@import '@mdi/font/css/materialdesignicons.min.css';

:root {
  --dark-blue: #003365;
  --blue: #004488;
  --gray-blue: #304a64;
  --black: #000;
  --gray: #333333;
  --light-gray: #515558;
  --light-gray-100: #7A7F84;
  --white: #FFF;
  --red: red;
  --light-red: rgb(255, 123, 123);
  --red-gray: rgb(170, 81, 81);


  --default-font: "Inter", sans-serif;
}

ul, li {
  list-style: none;
}

button {
  border: 0;
  background-color: inherit;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--preto);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--default-font);
  background: var(--white);
  margin: 0;
}