:root {
  --dark-blue: #003365;
  --blue: #004488;
  --black: #000;
  --gray: #333333;
  --light-gray: #515558;
  --light-gray-100: #7A7F84;
  --white: #FFF;

  --default-font: "Inter", sans-serif;
}

ul, li {
  list-style: none;
}

button {
  border: 0;
  background-color: inherit;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--preto);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--default-font);
  background: var(--white);
  margin: 0;
}